    
  @media (max-width: 760px) {    
    .btn{ font-size:90%; }
   
   }
   
   
   @media (max-width: 550px) {    
     .btn { font-size:75%; }
   
   
   }
   @media (max-width: 417px) {    
    .btn { font-size:67%; }
  
  }
   @media (max-width: 370px) {    
     .btn { font-size:60%; }
   
   }
   @media (max-width: 341px) {    
    .btn { font-size:55%; }
  
  }
  @media (max-width: 320px) {    
    .btn { font-size:50%; }
  
  }

.container-fluid{
    position:absolute; 
    height:100%; 
    width: 100%;
}

.btn{
    margin-bottom:10px;
}

.col-xs-8{
    position:absolute;
    top:40%;
}
  
   