  .navbar-inverse{
    margin:0px;
  }
  
  .search-hold{
    float: right;
    
  }
  
  .search {
    height: 25px;
  }
  
  .autocomplete {
   position: absolute;
   top: 50px;
   right: 15px;
   width: 350px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2000;
  }
  
  .auto-list {
  
    margin: 0;
    padding: 0px;
    background: lightblue;
    list-style: none;
    width: 100%;
   
  }

  .list-group-item{
      margin-bottom: 2px;
  }
  
  .logoimg {
    background-image: url("../assets/images/logo.png") ;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 203px;
    height: 30px;
    margin-top: 3%;
  }
  
  .form-control{
    right: 25px;
    width:250px !important;
  }
  
  @media (max-width: 768px) {    
    .form-control{
      width:230px !important;
    }
    .autocomplete {
      position: absolute;
      margin: auto;
      width: 100%;
       height: 300px;
       overflow-y: auto;
       overflow-x: hidden;
       z-index: 2000;
     }
     .input-group{
       margin:auto;
     }
  }
  