#content
{
    position: absolute;
    margin-top:4%;
    color: black;
    font-size: 23px;
}

.container-fluid{
    position: absolute;
    width: 100%;
}

.jumbotron{
    color: white ;
    background-color: rgba(88,178,224,0.75);
    border: 2px solid ;
    border-color: rgb(0, 88, 133) ;

}

.background 
{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/parallax1.jpg") ;
    min-height: 100%;
}

.jumbotron > h2{
    text-align: center;
}
.jumbotron > p{
    text-align: center;
}