#content
{
    position: absolute;
    margin-top:4%;
    color: black;
    font-size: 23px;
}
.background 
{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/parallax1.jpg") ;
    min-height: 100%;
}